body {
  background-color: #8B4513;
}

header{
  text-align: center;
  color: #F0FFF0;
}


nav{
  height: 100px;
  width: 600px;
  position: relative;
  left : 710px;
}


li {
  display: inline;
  list-style: none;
}

.logo {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;
}
input {
  display: block;
}

.texte {
  height: 100px;
}
