body {
  background-color: #8B4513;
}

header{
  text-align: center;
  color: #F0FFF0;
}


nav{
  height: 100px;
  width: 600px;
  position: relative;
  left : 710px;
}


li {
  display: inline;
  list-style: none;
}

.logo {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  color: #F0FFF0;
}


figure {
  display: inline-block;
}

.dépannage {
  float: left;
  display: inline-block;
  width: 600px;
}

figcaption {
  vertical-align: top;
  display: inline-block;
}
footer {
  background-color: #E6E6FA;
}

@media (max-width: 393px) {
  body {
    background-color: #8B4513;
  }
  header{
    text-align: center;
    color: #F0FFF0;
  }
  nav{
    height: 70px;
    width: 10px;
    position: relative;
    left : 210px;
  }
  li {
    display: inline;
    list-style: none;
  }
  .logo {
    width: 200px;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}
.dépannage {
  display: inline-block;
  width: 300px;
}
figcaption {
  vertical-align: top;
  display: inline-block;
}
}
